#html{
  background-color: #ccc;
}

#container{
 width: 600px;
 margin: 0 auto;
 background-color: #fff;
}

#header{
 margin-bottom: 15px;

}

#menu{
   margin-bottom: 15px;
}

#main{
 overflow: hidden;
 margin-bottom: 15px;
}

#contents{
  float: left;
  width: 400px;

}

#sidebar{
  float: right;
  width: 180px;

}

#footer{

}
